name: Build ZIP

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Run build_zip.py
        run: |
          python build_zip.py

      - name: Upload ZIP artifacts
        uses: actions/upload-artifact@v4
        with:
          name: compiled_zip
          path: "*.zip"
